<html lang="en">
    <head>
        <title>KAPIbara</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="vue.js"></script>
        <script src="application.js"></script>
        <script>window.ready = function() {init();}</script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="light">
        <div id="app">
            <section id="unavailable" v-if="!api">
                <p>This is not a valid OpenAPI document.</p>
            </section>
            <section id="available" v-if="api">
                {{responses}}::
                {{log}}
                <header>
                    <h1>{{api.info.title}} <span class="version">{{api.info.version}}</span></h1>
                    <label v-if="api.servers">Servers:
                        <select id="api3_servers" class="field_servers" v-model="selectedUrl">
                            <option v-for="server in api.servers" :value="server.url">
                                {{server.url}}
                            </option>
                        </select>
                    </label>
                    <label v-if="api.host">Servers:
                        <select id="field_hosts" class="field_servers" v-model="selectedHost">
                            <option v-for="scheme in api.schemes" :value="scheme">
                                {{scheme}}
                            </option>
                        </select>://{{api.host}}{{api.basePath}}
                    </label>
                </header>
                <article>
                    <p>{{api.info.description}}</p>
                    <div class="path" v-for="(path, pathKey) in api.paths">
                        <div v-for="(method, methodKey) in httpMethods(path)" class="route" :class="[ `method_${methodKey}` ]">
                            <h1 @click.self="toggleView(`${methodKey}_${pathKey}`)"><span class="method">{{methodKey.toUpperCase() }}</span><span class="path">{{pathKey}}</span></h1>
                            <div class="editor" :class="[expandedAreas[`${methodKey}_${pathKey}`]?'':'hidden']">
                                <p class="summary">{{method.summary}}</p>
                                <h1 class="active" @click.self="toggleActivated($event)">Execute</h1>
                                <div class="section">
                                    <button @click="executeApi(`${methodKey}_${pathKey}`,pathKey,methodKey)">Try It</button>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Url</th>
                                                <th>Body</th>
                                            </tr>
                                        </thead>
                                        <tr v-if="responses[`${methodKey}_${pathKey}`]">
                                            <td>{{responses[`${methodKey}_${pathKey}`].code}}</td>
                                            <td>{{responses[`${methodKey}_${pathKey}`].message}}</td>
                                            <td>{{responses[`${methodKey}_${pathKey}`].body}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <h1 @click.self="toggleActivated($event)">Parameters</h1>
                                <table class="parameters section">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tr class="parameter" v-for="parameter in method.parameters">
                                        <td class="name">({{parameter.in}}) {{parameter.name}}<span class="required" v-if="parameter.required===true">*</span></td>
                                        <td class="description">{{parameter.description}}</td>
                                        <td class="schema">
                                            <input type="text" v-if="parameter.in !== 'body'" :value="parameter.example"/>
                                            <textarea v-if="parameter.in === 'body'" disabled>{{parameter.schema}}</textarea>
                                        </td>
                                    </tr>
                                </table>
                                <h1  @click.self="toggleActivated($event)">Responses</h1>
                                <div class="responses section">
                                    <div class="response" v-for="(response, code) in method.responses">
                                        <div class="code" :class="[`http_status_${code[0]}`]">{{code}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <small>API Generated by KAPIbara</small>
                </article>
            </section>
        </div>
    </body>
</html>