button ._button {
  background: white;
  color: #000000;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 8px;
  margin: 8px 0;
}

body, html {
  overflow: hidden;
}

body {
  font-family: sans-serif;
  font-size: 12px;
}
body.dark {
  color: #CCCCCC;
  background: #333333;
}
body.dark header {
  background: #333333;
}
body.light {
  color: #333333;
  background: #F6F6F6;
}
body.light header {
  background: #FDFDFD;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
body #available > header {
  position: sticky;
  top: 0;
  padding: 8px;
}
body #available > header h1 .version {
  border-radius: 12px;
  font-size: 9px;
  color: #CCCCCC;
  padding: 2px 8px;
  background: #333333;
  vertical-align: 40%;
}
body article {
  margin: 16px;
}
body #app > section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;
}
body .path .route {
  margin: 8px 0;
  padding: 8px;
}
body .path .route.method_post {
  background-color: #def0d8;
  box-shadow: 0 0 4px #cdebc3;
  border: 1px solid #7ecb64;
  border-radius: 3px;
  font-size: 12px;
}
body .path .route.method_post ._button {
  background: #def0d8;
  color: #000000;
  border: 1px solid #7ecb64;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 8px;
  margin: 8px 0;
}
body .path .route.method_post .method {
  background: #7ecb64;
  padding: 4px 8px;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
}
body .path .route.method_post header {
  display: flex;
}
body .path .route.method_post .editor textarea {
  resize: vertical;
  min-height: 80px;
  width: 100%;
}
body .path .route.method_post .editor table {
  min-width: 100%;
  border-spacing: 0;
  border: 1px solid #9ed88a;
  border-radius: 3px;
}
body .path .route.method_post .editor table tr:nth-child(odd) {
  background: #ddf1d7;
}
body .path .route.method_post .editor table tr:nth-child(even) {
  background: #e4f4de;
}
body .path .route.method_post .editor table th {
  background: #9ed88a;
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px;
}
body .path .route.method_post .editor table td {
  padding: 8px;
  vertical-align: top;
  font-size: 12px;
}
body .path .route.method_post .editor h1 {
  border-radius: 4px;
  background: #9ed88a;
  color: #FFFFFF;
  font-weight: 500;
  display: block;
  padding: 8px;
  margin-top: 8px;
}
body .path .route.method_post .editor .section {
  box-sizing: border-box;
  display: none;
  border: 1px solid #7ecb64;
  margin-bottom: 8px;
  border-radius: 0 0 3px 3px;
  padding: 8px;
}
body .path .route.method_post .editor h1.active {
  border-radius: 4px 4px 0 0;
}
body .path .route.method_post .editor h1.active + .section {
  display: block;
}
body .path .route.method_post .editor h1.active + table.section {
  display: table;
}
body .path .route.method_post .editor .parameters {
  width: 100%;
}
body .path .route.method_post .editor .parameters .parameter .schema textarea {
  width: 100%;
}
body .path .route.method_get {
  background-color: #f5fbfd;
  box-shadow: 0 0 4px #dff4f9;
  border: 1px solid #73cde6;
  border-radius: 3px;
  font-size: 12px;
}
body .path .route.method_get ._button {
  background: #f5fbfd;
  color: #000000;
  border: 1px solid #73cde6;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 8px;
  margin: 8px 0;
}
body .path .route.method_get .method {
  background: #73cde6;
  padding: 4px 8px;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
}
body .path .route.method_get header {
  display: flex;
}
body .path .route.method_get .editor textarea {
  resize: vertical;
  min-height: 80px;
  width: 100%;
}
body .path .route.method_get .editor table {
  min-width: 100%;
  border-spacing: 0;
  border: 1px solid #9edcee;
  border-radius: 3px;
}
body .path .route.method_get .editor table tr:nth-child(odd) {
  background: #f5fbfd;
}
body .path .route.method_get .editor table tr:nth-child(even) {
  background: #fdfeff;
}
body .path .route.method_get .editor table th {
  background: #9edcee;
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px;
}
body .path .route.method_get .editor table td {
  padding: 8px;
  vertical-align: top;
  font-size: 12px;
}
body .path .route.method_get .editor h1 {
  border-radius: 4px;
  background: #9edcee;
  color: #FFFFFF;
  font-weight: 500;
  display: block;
  padding: 8px;
  margin-top: 8px;
}
body .path .route.method_get .editor .section {
  box-sizing: border-box;
  display: none;
  border: 1px solid #73cde6;
  margin-bottom: 8px;
  border-radius: 0 0 3px 3px;
  padding: 8px;
}
body .path .route.method_get .editor h1.active {
  border-radius: 4px 4px 0 0;
}
body .path .route.method_get .editor h1.active + .section {
  display: block;
}
body .path .route.method_get .editor h1.active + table.section {
  display: table;
}
body .path .route.method_get .editor .parameters {
  width: 100%;
}
body .path .route.method_get .editor .parameters .parameter .schema textarea {
  width: 100%;
}
body .path .route.method_put {
  background-color: #f8e5d5;
  box-shadow: 0 0 4px #f6d8be;
  border: 1px solid #e6954e;
  border-radius: 3px;
  font-size: 12px;
}
body .path .route.method_put ._button {
  background: #f8e5d5;
  color: #000000;
  border: 1px solid #e6954e;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 8px;
  margin: 8px 0;
}
body .path .route.method_put .method {
  background: #e6954e;
  padding: 4px 8px;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
}
body .path .route.method_put header {
  display: flex;
}
body .path .route.method_put .editor textarea {
  resize: vertical;
  min-height: 80px;
  width: 100%;
}
body .path .route.method_put .editor table {
  min-width: 100%;
  border-spacing: 0;
  border: 1px solid #ecb07b;
  border-radius: 3px;
}
body .path .route.method_put .editor table tr:nth-child(odd) {
  background: #f9e5d4;
}
body .path .route.method_put .editor table tr:nth-child(even) {
  background: #faebdd;
}
body .path .route.method_put .editor table th {
  background: #ecb07b;
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px;
}
body .path .route.method_put .editor table td {
  padding: 8px;
  vertical-align: top;
  font-size: 12px;
}
body .path .route.method_put .editor h1 {
  border-radius: 4px;
  background: #ecb07b;
  color: #FFFFFF;
  font-weight: 500;
  display: block;
  padding: 8px;
  margin-top: 8px;
}
body .path .route.method_put .editor .section {
  box-sizing: border-box;
  display: none;
  border: 1px solid #e6954e;
  margin-bottom: 8px;
  border-radius: 0 0 3px 3px;
  padding: 8px;
}
body .path .route.method_put .editor h1.active {
  border-radius: 4px 4px 0 0;
}
body .path .route.method_put .editor h1.active + .section {
  display: block;
}
body .path .route.method_put .editor h1.active + table.section {
  display: table;
}
body .path .route.method_put .editor .parameters {
  width: 100%;
}
body .path .route.method_put .editor .parameters .parameter .schema textarea {
  width: 100%;
}
body .path .route.method_delete {
  background-color: #f7cfce;
  box-shadow: 0 0 4px #f5b8b6;
  border: 1px solid #e64946;
  border-radius: 3px;
  font-size: 12px;
}
body .path .route.method_delete ._button {
  background: #f7cfce;
  color: #000000;
  border: 1px solid #e64946;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 8px;
  margin: 8px 0;
}
body .path .route.method_delete .method {
  background: #e64946;
  padding: 4px 8px;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
}
body .path .route.method_delete header {
  display: flex;
}
body .path .route.method_delete .editor textarea {
  resize: vertical;
  min-height: 80px;
  width: 100%;
}
body .path .route.method_delete .editor table {
  min-width: 100%;
  border-spacing: 0;
  border: 1px solid #ec7573;
  border-radius: 3px;
}
body .path .route.method_delete .editor table tr:nth-child(odd) {
  background: #f8cecd;
}
body .path .route.method_delete .editor table tr:nth-child(even) {
  background: #f9d6d6;
}
body .path .route.method_delete .editor table th {
  background: #ec7573;
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px;
}
body .path .route.method_delete .editor table td {
  padding: 8px;
  vertical-align: top;
  font-size: 12px;
}
body .path .route.method_delete .editor h1 {
  border-radius: 4px;
  background: #ec7573;
  color: #FFFFFF;
  font-weight: 500;
  display: block;
  padding: 8px;
  margin-top: 8px;
}
body .path .route.method_delete .editor .section {
  box-sizing: border-box;
  display: none;
  border: 1px solid #e64946;
  margin-bottom: 8px;
  border-radius: 0 0 3px 3px;
  padding: 8px;
}
body .path .route.method_delete .editor h1.active {
  border-radius: 4px 4px 0 0;
}
body .path .route.method_delete .editor h1.active + .section {
  display: block;
}
body .path .route.method_delete .editor h1.active + table.section {
  display: table;
}
body .path .route.method_delete .editor .parameters {
  width: 100%;
}
body .path .route.method_delete .editor .parameters .parameter .schema textarea {
  width: 100%;
}
body .path .route .path {
  word-break: break-word;
}
body .path .route h1 {
  display: flex;
  align-items: flex-start;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}
body .path .route .editor.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
