$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #7ecb64;
$color-blue: #73cde6;
$color-orange: #e6954e;
$color-red: #e64946;
$color-silver: #e6e6e6;
$color-grey: #CCCCCC;
$color-metal: #333333;

$method-colors: (
        post: $color-green,
        get: $color-blue,
        put: $color-orange,
        delete: $color-red,
        default: $color-silver
);

@mixin button($color, $foreground: $color-black) {
    ._button {
        background: lighten(desaturate($color,5%),30%);
        color: $foreground;
        border: 1px solid $color;
        border-radius: 3px;
        font-size: 14px;
        padding: 4px 8px;
        margin: 8px 0;
    }
}
@mixin method($name: null) {
    $color: map_get($method-colors,if($name,$name,"default"));
    background-color: lighten(desaturate($color,5%),30%);
    box-shadow: 0 0 4px opacify(lighten($color,25%),0.20);
    border: 1px solid $color;
    border-radius: 3px;
    font-size: 12px;
    @include button($color);
    .method {
        background: $color;
        padding: 4px 8px;
        border-radius: 3px;
        color: $color-white;
        font-size: 12px;
        font-weight: bold;
        margin-right: 8px;
    }
    header {
        display: flex;
    }
    .editor {
        textarea {
            resize: vertical;
            min-height: 80px;
            width: 100%;
        }
        table {
            min-width: 100%;
            border-spacing: 0;
            border: 1px solid lighten($color,10%);
            border-radius: 3px;
            tr:nth-child(odd) { background: lighten($color, 30%) }
            tr:nth-child(even) { background: lighten($color, 32%) }
            th {
                background: lighten($color,10%);
                color: $color-white;
                font-size: 12px;
                padding: 8px;
            }
            td {
                padding: 8px;
                vertical-align: top;
                font-size: 12px;
            }
        }
        h1 {
            border-radius: 4px;
            background: lighten($color,10%);
            color: $color-white;
            font-weight: 500;
            display: block;
            padding: 8px;
            margin-top: 8px;
        }
        .section {
            box-sizing: border-box;
            display: none;
            border: 1px solid $color;
            margin-bottom: 8px;
            border-radius: 0 0 3px 3px;
            padding: 8px;
        }
        h1.active {
            border-radius: 4px 4px 0 0;
            & + .section { display: block }
            & + table.section { display: table }
        }
        .parameters {
            width: 100%;
            .parameter {
                .schema textarea { width: 100% }
            }
        }
    }
}

button {
    @include button($color-grey);
}

body, html { overflow: hidden }
body {
    font-family: sans-serif;
    font-size: 12px;

    &.dark {
        color: $color-grey;
        background: $color-metal;
        header { background: $color-metal }
    }

    &.light {
        color: $color-metal;
        background: #F6F6F6;
        header {
            background: #FDFDFD;
            box-shadow: 0 0 2px rgba(0,0,0,0.2);
        }
    }

    #available > header {
        position: sticky;
        top: 0;
        padding: 8px;
        h1 {
            .version {
                border-radius: 12px;
                font-size: 9px;
                color: $color-grey;
                padding: 2px 8px;
                background: $color-metal;
                vertical-align: 40%;
            }
        }
    }

    article {
        margin: 16px;
    }

    #app>section {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        overflow: auto;
    }

    .path {
        .route {
            margin: 8px 0;
            padding: 8px;
            &.method_post { @include method(post) }
            &.method_get { @include method(get) }
            &.method_put { @include method(put) }
            &.method_delete { @include method(delete) }
            .path {
                word-break: break-word;
            }
            h1 {
                display: flex;
                align-items: flex-start;
                margin: 0;
                font-size: 14px;
                font-weight: normal;
            }
            .editor {
                &.hidden { display: none }
            }
        }
    }
}



